<div class="index-sections">
  {% comment %} Banner {% endcomment %}
  {% section 'image-gallery' %}
  {% comment %} Text column with images {% endcomment %}
  {% comment %} Featured Product {% endcomment %}
  {% section 'featured-product' %}
  {% comment %} Featured collection {% endcomment %}
  {% section 'featured-collections' %}
  {% comment %} Newsletter Block {% endcomment %}
  {% section 'newsletter' %}
</div>
